body{
    margin: 0;
    padding: 0;
}

#navbar{
    width:100%;
    height:50px;
    background-color: red;
}

#welcome-section,#projects{
    width: 100%;
    height: 500px;
}
#welcome-section{
    background-color: teal;
}
#projects{
    background-color: yellow;
}